body {

color:#000080;
    background-color:#ffffff;
}
a {
    color:#800080;
}
a:visited {
    color:#ff0000;
}

h1 {
    text-align:center;
    font-weight:bold;
    font-size:100%;
}
.span    {
    font-size:75%;
        display: block;
}
#official    {
    font-size:90%;
    display:block;
}
.BH    {
    font-size:175%;
}
.geico    {
    text-align:center;
    display:block;
    font-size:50%;
}