body {

color:#000080;
    background-color:#ffffff;
}
a {
    color:#800080;
}
a:visited {
    color:#ff0000;
}
h1 {
    text-align:center;
    font-weight:bold;
    font-size:100%;
}
.span    {
    font-size:75%;
        display: block;
}
#official    {
    font-size:90%;
    display:block;
}
.BH    {
    font-size:175%;
}
.imgcenter {
    display: block;
    text-align:center;
}
.geico    {
    text-align:center;
    display:block;
    font-size:50%;
}
.notes    {
    display:block;
    font-size:60%;
}
.horzline {
     color: black;
     background-color: black;
     width: 100%;
     height: 2px;
}